<html>
<head>
<title>Find Friends</title></head>
<body>
<div id='fr'>
<img src='http://localhost/python/{{user1}}' height='20' width='20'>{{user1}}<button id='{{user1}}' onclick='addfriend()'>ADD FRIEND</button><br>
<img src='http://localhost/python/{{user2}}' height='20' width='20'>{{user2}}<button id='{{user1}}' onclick='addfriend()'>ADD FRIEND</button><br>
<img src='http://localhost/python/{{user3}}' height='20' width='20'>{{user3}}<button id='{{user1}}' onclick='addfriend()'>ADD FRIEND</button><br>
<img src='http://localhost/python/{{user4}}' height='20' width='20'>{{user4}}<button id='{{user1}}' onclick='addfriend()'>ADD FRIEND</button><br>
</div></body>
</html>